* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white ;
  --background-url: url(./assets/bg-desktop.jpg);
  --background-url-mobile: url(./assets/bg-mobile.jpg);
  --strock-color: rgba(255, 255, 255, 0.50);
  --surface-color: rgba(255, 255, 255, 0.10);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg)
}

.light {
  --text-color: black ;
  --background-url: url(./assets/bg-desktop-light.jpg);
  --background-url-mobile: url(./assets/bg-mobile-light.jpg);
  --strock-color: rgba(0, 0, 0, 0.50);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background-image: var(--background-url-mobile);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 800px) {
  
  body {
    background-image: var(--background-url);
    background-position: center top;
    background-repeat: no-repeat;
    background-size:auto;
  }
  
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color)
}

#container {
  width: 100%;
  max-width: 588px;
  margin: auto;
  padding: 0 24px;

  margin-top: 56px;
}

/* profile */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500px;
  line-height: 24px;
  margin-top: 8px;
}

/* switch */

#switch {
  position:relative;
  width: 64px;

  margin: 8px auto;
}

#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  top: 50%;


  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--strock-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* options */

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
  
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background-color: var(--surface-color);
  border: 1px solid var(--strock-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.3s;
}

ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}

/* social-media */

#social-media {
  display: flex;
  padding: 24px 0;
  gap: 16px;
  font-size: 24px;

  justify-content: center;
}

#social-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  transition: background 0.3s;
  border-radius: 50%;
}

#social-media a:hover {
  background-color: var(--highlight-color);
  
  padding: 10px;
  
}


footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}